<div class="mainpage">

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="/assets/images/1592.png" alt="" width="100px" height="100px" routerLink="/homepage" click="refresh()">
                </div>
                <div id="brandname" class="col-md-4">
                    <h1>T & H Property</h1>
                </div>
                <div id="login" class="col-md-4">
                    <h3><a href="" routerLink="/addstudioefficiency">Owner login</a></h3>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="navrow">

                

                <div id="tenantdropdown">
                    <button class="tenantdropbtn">Tenants</button>
                    <div class="tenantdropdowncontent">
                        <a href="https://paypal.me/mooshank?locale.x=en_US">Pay Online</a>
                    </div>
                </div>

                <div id="rentaldropdown">
                    <button class="rentaldropbtn">Rentals</button>
                    <div class="rentaldropdowncontent">
                        <a href="#" routerLink="/studioefficency" click="refresh()">Studio/Efficency</a>
                        <a href="#" routerLink="/apartments">Apartments</a>
                        <a href="#" routerLink="/homes">Homes</a>
                    </div>
                </div>

                <div id="contactbutton">
                    <a routerLink="/contactpage" >Contact Us</a>
                </div>


            </div>
        </div>
    </div>

</div>