

li{
    padding: 10px;
    list-style: none;
    align-self: center;
}


.col-md-5, .col-md-7{
    text-align: center;
    align-self: center;
}


/* #bottomborder{
    border-bottom: 1.5px solid #0275d8;
    display: inline-block;
    width: 50%;
    margin-left: 25%;
    margin-top: 175px;
    position: absolute;

} */

.viewdetailsbutton{
    margin-left: 60px;
    color: white;
    background-color: #0275d8;
    padding: 10px;
    width: 35%;
}

#price{
     
    margin-bottom: 20px;
    color: #0275d8;
    text-align: center;
    margin-left: -56%;
}

.bed,.bath{
    margin-left: 170px;
    text-align: center;
}

.subheader{
    margin-top: 50px;
    height: 45px;
    background-color: #0275d8;
    width: 50%;
    margin-left: 25.5%;
}

.subheadertext{
    text-align: center;
    padding: 5px;
    color: white;
}

.bottom{
    height: 100px;
}


#pics{
    align-self: center;
    padding: -50px;
    
}

img{
    transition:transform 0.25s ease;
}

.row{
    margin-top: 75px;
}

.viewdetails{
    margin-top: 25px;
    margin-left: 35px;
}


img:hover {
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
}

.housepicture{
    background-color: black;
    height: 50px;
    width: 90%
}

.description{
    font-size: smaller;
}

.viewdetails{
    margin-left: 100px;
}