<div class="subheader">
  <div>
      <h1 class="subheadertext">Homes</h1>
  </div>
</div>



<div class="container-fluid" *ngFor="let home of homes">

  

  <div  class="row">

      
          
          <!------ Include the above in your HEAD tag ---------->
          
          <div id="pics" class="col-md-7">
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                  <a href="{{home.picture1}}"><img src="{{home.picture1}}.jpg" class="img-responsive"></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="{{home.picture2}}"><img src="{{home.picture2}}.jpg" class="img-responsive"></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="{{home.picture3}}"><img src="{{home.picture3}}.jpg" class="img-responsive"></a>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                <a href="{{home.picture4}}"><img src="{{home.picture4}}.jpg" class="img-responsive"></a>
              </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="{{home.picture5}}"><img src="{{home.picture5}}.jpg" class="img-responsive"></a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="{{home.picture6}}"><img src="{{home.picture6}}.jpg" class="img-responsive"></a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="{{home.picture7}}"><img src="{{home.picture7}}.jpg" class="img-responsive"></a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="{{home.picture8}}"><img src="{{home.picture8}}.jpg" class="img-responsive"></a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="{{home.picture9}}"><img src="{{home.picture9}}.jpg" class="img-responsive"></a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="{{home.picture10}}"><img src="{{home.picture10}}.jpg" class="img-responsive"></a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="{{home.picture11}}"><img src="{{home.picture11}}.jpg" class="img-responsive"></a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
            <a href="{{home.picture12}}"><img src="{{home.picture12}}.jpg" class="img-responsive"></a>
          </div>
          
          

  </div>

  
      

      <div class="col-md-5">
          <div class="description">
          <h2>{{home.propertyTitle}}</h2>

          <h3>{{home.propertyAddress}}</h3>

          <h3><strong>{{home.propertyType}}</strong></h3>

          <li>{{home.description1}}</li>

          <li>{{home.description2}}</li>
                  
          <li>{{home.description3}}</li> 
                  
          <li>{{home.description4}}</li> 
                  
          <li>{{home.description5}}</li> 
                  
          <li>{{home.description6}}</li> 
                  
          <li>{{home.description7}}</li> 
      </div>
     
              
                                      
      </div>
      
      <div class="viewdetails">
          <h2 id="price">Estimated Price: {{home.price | currency}}</h2>
          <h2><span class="bed">Bed: {{home.bedrooms}} </span><span class="bath">Bath: {{home.bathrooms}}</span></h2>
        <button class="viewdetailsbutton" (click)="viewDetails(home.id)">View Details</button>
      </div>

  </div>
</div>






      <!-- <div id="bottomborder">

      </div>



  <div class="row">
      <div class="col-md-5">
          <div id="carouselExampleIndicatorss" class="carousel slide carousel-dark carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="7" aria-label="Slide 8"></button>
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="8" aria-label="Slide 9"></button>
            <button type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide-to="9" aria-label="Slide 9"></button>
            
          </div>
          <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/assets/images/1592.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/images/1592-3.png" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/assets/images/1592-2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/1592.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/1592-3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/1592-2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/1592.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/1592-3.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/1592-2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/assets/images/1592.png" class="d-block w-100" alt="...">
            </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicatorss" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div>
          <h2 id="price">Estimated Price: $800 per month</h2>
          <h2><span class="bed">Bed: 2</span><span class="bath">Bath: 1</span></h2>
        <button class="viewdetailsbutton">View Details</button>
    </div>

      </div>

      
  </div>

  
      

      <div class="col-md-7">
          <h2>Beautifully Updated 2-Bedroom Row Home For Sale</h2>

          <h3>4609 Mansion Street , Philadelphia, PA 19127</h3>

          <h3><strong>Single Family House</strong></h3>

          <li>Beautifully Updated 2-Bedroom 2-story Row Home in Manayunk is available Now!</li>

          <li>This home includes 2 Bedrooms, 1 Bathroom, 9' Ceilings and Street parking. Other rooms include Kitchen, Dining room, and Living room.</li>
                  
          <li>The kitchen comes fully equipped with a gas stove and refrigerator and includes a door to back patio.</li> 
                  
          <li>The location provides incredibly easy access to public transportation and sits near the Schuylkill River Trail, Main Street, banks, shops, restaurants, entertainment and all Manayunk has to offer.</li> 
                  
          <li>Washer/Dryer are included in the basement.</li> 
                  
          <li>Home is located in the Philadelphia School District.</li> 
                  
          <li>Includes relatively new laminate flooring on 1st Floor (including Kitchen) and relatively new wall-to-wall carpet on Stairs and 2nd floor hallway/bedrooms.</li> 
                  
          <li>Bathroom has NEW Vinyl plank floor and the basement is finished with Cedar.</li>
                                      
      </div>
  </div>
</div>
  

     
     
   -->
