








<div class="subheader">
    <div>
        <h1 class="subheadertext">Add Apartment</h1>
    </div>
</div>



<div id="submitcontainer" class="container">


    <div class="col-md-4">
    
        <button id="submitbutton" class="btn btn-light" routerLink="/addhome">Add Home</button>
        <div></div>
    
</div>
<div class="col-md-4">
            
    <button id="submitbutton" class="btn btn-light" routerLink="/inquiries">Inquiries</button>
        <div></div>

</div>
<div class="col-md-4">
        
    <button id="submitbutton" class="btn btn-light" routerLink="/addstudioefficiency">Add Studio/Efficiency</button>
        <div></div>

</div>
</div>

<div class="container">

<form (ngSubmit)="submitProperty()">

    

    <div class="col-md-4">
        <div class="form-group">
            <label class="label" for="propertyTitle">Property Title</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.propertyTitle" name="propertyTitle" id="name" placeholder="Title">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-4"> 
        <div class="form-group">
            <label class="label" for="propertyAddress">Property Address</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.propertyAddress" name="propertyAddress" id="email" placeholder="Address">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-4"> 
        <div class="form-group">
            <label class="label" for="propertyType">Property Type</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.propertyType" name="propertyType" id="email" placeholder="Type">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label id="subjectbox" class="label" for="bedrooms">Bedrooms</label>
            <input type="number" class="form-control" required [(ngModel)]="apartment.bedrooms" name="bedrooms" id="subject" placeholder="Bedrooms">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label id="subjectbox" class="label" for="bathrooms">Bathrooms</label>
            <input type="number" class="form-control" required [(ngModel)]="apartment.bathrooms" name="bathrooms" id="subject" placeholder="Bathrooms">
            <span class="focus-input3"></span>
        </div>
    </div>
        <div class="col-md-4">
            <div class="form-group">
                <label id="subjectbox" class="label" for="price">Price</label>
                <input type="number" class="form-control" required [(ngModel)]="apartment.price" name="price" id="subject" placeholder="Price">
                <span class="focus-input3"></span>
            </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Description 1</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.description1" name="description1" id="name" placeholder="Description 1">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 1</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture1" name="description1" id="name" placeholder="Picture 1">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description2">Description 2</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.description2" name="description2" id="name" placeholder="Description 2">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 2</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture2" name="description1" id="name" placeholder="Picture 2">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description3">Description 3</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.description3" name="description3" id="name" placeholder="Description 3">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 3</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture3" name="description1" id="name" placeholder="Picture 3">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description4">Description 4</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.description4" name="description4" id="name" placeholder="Description 4">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 4</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture4" name="description1" id="name" placeholder="Picture 4">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description5">Description 5</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.description5" name="description5" id="name" placeholder="Description 5">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 5</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture5" name="description1" id="name" placeholder="Picture 5">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description6">Description 6</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.description6" name="description6" id="name" placeholder="Description 6">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 6</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture6" name="description1" id="name" placeholder="Picture 6">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description7">Description 7</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.description7" name="description7" id="name" placeholder="Description 7">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 7</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture7" name="description1" id="name" placeholder="Picture 7">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 8</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture8" name="description1" id="name" placeholder="Picture 8">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 9</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture9" name="description1" id="name" placeholder="Picture 9">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 10</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture10" name="description1" id="name" placeholder="Picture 10">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 11</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture11" name="description1" id="name" placeholder="Picture 1">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label class="label" for="description1">Picture 12</label>
            <input type="text" class="form-control" required [(ngModel)]="apartment.picture12" name="description1" id="name" placeholder="Picture 12">
            <span class="focus-input3"></span>
        </div>
    </div>
    <!-- <div class="col-md-1">
        <div class="form-group">
            <label class="label" for="description1">St Number</label>
            <input type="text" class="form-control" required [(ngModel)]="studioefficiency.picture12" name="description1" id="name" placeholder="Description 1">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label class="label" for="description1">St Direction</label>
            <input type="text" class="form-control" required [(ngModel)]="studioefficiency.picture12" name="description1" id="name" placeholder="Description 1">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label class="label" for="description1">St Name</label>
            <input type="text" class="form-control" required [(ngModel)]="studioefficiency.picture12" name="description1" id="name" placeholder="Description 1">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label class="label" for="description1">St Type</label>
            <input type="text" class="form-control" required [(ngModel)]="studioefficiency.picture12" name="description1" id="name" placeholder="Description 1">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label class="label" for="description1">City</label>
            <input type="text" class="form-control" required [(ngModel)]="studioefficiency.picture12" name="description1" id="name" placeholder="Description 1">
            <span class="focus-input3"></span>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label class="label" for="description1">State</label>
            <input type="text" class="form-control" required [(ngModel)]="studioefficiency.picture12" name="description1" id="name" placeholder="Description 1">
            <span class="focus-input3"></span>
        </div>
    </div> -->
    
    

    <div id="bottom" class="container">
        <div class="row">
<div class="col-md-6">
    
<input id="submitbutton" type="submit" value="Submit" class="btn btn-light">
<div></div>

</div>



<div class="col-md-6">
<div id="logout" class="btn btn-light" (click)="logout()">Logout</div>
</div>
</div>
</div>




</form>


</div>